<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="AccessToken" value="lvprdDRagSerGIKFLkhkNhvU1tZs1C9ocKb3gdakOLh847zZ" />
        <!--Specify accessTokenSecret Value -->
        <add key="AccessTokenSecret" value="lJiz3qcHClnGOdzw4K6RMlpUAuth7A7oVqrkf6OI" />
        <!--Specify consumerKey Value -->
        <add key="ConsumerKey" value="qyprdZrORl2gSGHJZRqvKV7HLfOKb6" />
        <!--Specify consumerSecret Value -->
        <add key="ConsumerSecret" value="v4PmNNqcs12uKX2BV6WISRlXfL9ewSFHw07Llcx5" />
        <!--Specify realmId Value (companyId) -->
        <add key="RealmID" value="193514450140099" />
        <!-- -->
        <add key="BaseURL" value="https://quickbooks.api.intuit.com" />
        
        <add key="AccountsFilename" value="output/accounts.txt" />
        <add key="VendorsFilename" value="output/vendors.txt" />
        
    </appSettings>
</configuration>